<!-- 
    Hier komen jouw eigen angular selectors.
 -->
<!-- <avans-nx-workshop-navbar></avans-nx-workshop-navbar> -->
<!-- <avans-nx-workshop-alert></avans-nx-workshop-alert> -->
<!-- <avans-nx-workshop-breadcrumb></avans-nx-workshop-breadcrumb> -->
<!--  -->
<div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <avans-nx-workshop-peer-demo></avans-nx-workshop-peer-demo>
    <router-outlet></router-outlet>
</div>
<!--  -->
<!-- <avans-nx-workshop-footer></avans-nx-workshop-footer> -->
